/*

Theme Name:  Behoof Theme

Description: Wordpress Theme

Version: 1.0

Author: Nikolasha

*/

form.webPoll {
    background:#ededed;
    border:1px solid #bebebe;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;  
    border-radius:8px;
    -moz-box-shadow:#666 0 2px 3px;
    -webkit-box-shadow:#666 0 2px 3px;
    box-shadow:#666 0 2px 3px;
    margin:10px 0 10px 8px;
    padding:6px;
    position:relative;
    width:100%;
}
 form.webPoll fieldset {
     background:#FCFAFC;
     border:1px solid #FCFAFC;
     -moz-border-radius:10px;
     -webkit-border-radius:10px;
     border-radius:10px;
     margin:0;
     padding:0;
     position:relative;
 }
form.webPoll ul {
     border:2px #bebebe solid;
     -moz-border-radius:10px;
     -webkit-border-radius:10px;
     border-radius:10px;
     font-family:verdana;
     font-size:10px;
     list-style-type:none;
     margin:0;
     position:relative;
 }






.line-one{
    cursor:pointer;
}
.two tbody tr th,.two tbody tr td{    
    border:none !important;
}

tr.act{
    background-color: rgba(151,187,205,0.3);
}




.grey{
    background-color: #f5f5f5;
}

.req{
    color:red;
    font-weight: bold;
    padding-left:10px;
}


.main-menu >li > a{
    text-decoration: none;
}

.dp-choose-date{
    background-image: url('images/c.png');
    background-size: 33px 33px;
    width:33px;
    height:33px;
    display: inline-block;
}
table.jCalendar td.selected {
    background: #04A39C;
    color: #fff;
}

.canceled{
    color:black;
    background-color: #eee;
    border-color: #000000;
}

textarea{
    resize: vertical;
}

.ev {
    /*display: inline-block; *//* Строчно-блочный элемент */
    position: relative; /* Относительное позиционирование */
}
.ev:hover::after {
    content: attr(data-title); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    /*left: 0; right: 0; bottom: 5px; *//* Положение подсказки */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    background:  rgba(4, 163, 156, 0.75); /* Полупрозрачный цвет фона */
    color: #fff; /* Цвет текста */
    text-align: center; /* Выравнивание текста по центру */
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 13px; /* Размер текста подсказки */
    padding: 5px 10px; /* Поля */
    border: 1px solid white; /* Параметры рамки */
    box-shadow: 0 0 15px 2px;
    top:35px;
    left:35px;
}






#square-event {
    float: left;
    width: 20px;
    height: 20px;
    background: Thistle;
}

#square-curday {
    float: left;
    width: 20px;
    height: 20px;
    background: rgb(147, 221, 215);
}

#square-white {
    float: left;
    width: 20px;
    height: 20px;
    border: 1px solid lightgrey;
    background: white;
}
#square-pink {
    float: left;
    width: 20px;
    height: 20px;
    background: #fcf8e3;
}

#square-grey {
    float: left;
    width: 20px;
    height: 20px;
    background: #eee;
}


.img-thumbnail{
    margin-right: 60px;
}

table.calendar-table{
    margin-top: 50px;

}

/*table.calendar-table tbody > tr >td{*/
    /*width:70px;*/
    /*height:30px;*/
    /*border:1px solid grey;*/
/*}*/

/* Календарь
  ----------------------------- */
table.calendar-table{
    border: 1px solid #fff;
    background:#fff;
    outline: 1px solid #D0D0D0;
    width:300px;
}

.calendar-month, .calendar-prev, .calendar-next {
    color:white;
    text-align:center;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    background: url('http://wallaby.ucoz.ru/_ph/1/2/948121350.png') repeat-x top #626262;
}


.normal-day-heading, .weekend-heading {
    font:11px Verdana,Arial,Helvetica,sans-serif;
    color:#8F9497;
    text-shadow: 0px 1px 1px #fff;
    font-weight:bold;
    padding: 5px;
    background: #e7e7e7;
    outline: 1px solid #D0D0D0;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
}

.day-with-date {
    padding-left: 10px;
    padding-top: 25px;
    color:#8F9497;
    font-weight:bold;
    background:#fff;
    outline: 1px solid #D0D0D0;
    width: 83px;
    height: 60px;
}

.current-day {
    padding-left: 10px;
    padding-top: 25px;
    font-weight:bold;
    background:rgb(147, 221, 215);
    outline: 1px solid #D0D0D0;
    /*border-bottom: 1px solid #fff;*/
}


/* -------------------------- */
