body {background-color: #eee;}
pre{font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
.col-xs-12.col-sm-9 {background-color: #eee;}
.col-xs-6.col-sm-3.sidebar-offcanvas{background-color: #eee;}
.row.row1.row-offcanvas.row-offcanvas-right{background-color: #eee;}
.row.row1.row-offcanvas.row-offcanvas-right {border:none;}

.row2{padding:30px;}

.row1 {margin-top: 50px; background-color: white;}


.row{
/*	background-color: #f5f5f5;*/
        background-color: white;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
        min-height: 500px;
}
.well {
/*    background-color: white;*/
}

#logo{ width:150px;}
#logo-profile{width: 100px;height: 67px;margin-top: -28px;}
#front{width: 700px;}
.img-circle{max-width: 250px;max-height: 250px;float: left; padding:10px;}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #04A39C;
	border-color: #04A39C;
}
.btn-primary, .btn-primary, .btn-primary, .btn-primary, .open .dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #6cc6bd;
	border-color: #6cc6bd;
}
a:hover, a:focus {
    color: #6cc6bd;
    text-decoration: underline;
}
a {
    color: #04A39C;
    text-decoration: underline;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #333;
}

.profile-nav > li > a {margin-bottom: 20px;}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {background-color: #A74242 !important;}

.progress-bar {background-color: #04A39C;}

.form-control:focus {color: #04A39C; box-shadow: 0 0 8px rgb(4, 163, 156);}
.navbar-nav {margin-top: 25px;}

input[type=submit]{
    padding: 2px 91px;
    font-size: 14px;
    line-height: 1.33;
    border-radius: 6px;
}
 

input[type=submit]:hover{    
    color: #fff;
    background-color: #6cc6bd;
    border-color: #6cc6bd;
}

input[type=email],input[type=text],input[type=password]{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
 

input[type=email]:hover,input[type=text]:hover,input[type=password]:hover{    
    border-color: #6cc6bd; 
}
input[type=email]:focus,input[type=text]:focus,input[type=password]:focus{    
    color: #04A39C;
    border-color: #6cc6bd; 
    box-shadow: 0 0 8px rgb(4, 163, 156);
}

#sidebar{font-weight: normal;}

.tit {
    color: #04A39C;
}

.table-hover > tbody > tr:hover td,
.table-hover > tbody > tr:hover {
    background-color: #eee;
}

ul.pagination > li.active > a{
    background-color: #04A39C;
    border-color: #04A39C;
}
ul.pagination > li.active > a:hover{
    background-color: #04A39C;
    border-color: #04A39C;
}